@font-face {
  font-family: 'Piscolabis';
  src: url('fonts/Piscolabis-Regular.woff2') format('woff2'),
       url('fonts/Piscolabis-Regular.woff') format('woff'),
       url('../fonts/Piscolabis-Regular.ttf') format('truetype'),
}

body {
  background-color: #330000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.button {
  background-color: #880000;
  color: white;
  width: 500px;
  height: 100px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.label {
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

.title{
  color: white;
  font-size: 60px;
  margin-bottom: 10px;
  font-family: 'Piscolabis', sans-serif;
  text-align: center;
}

footer {
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
  text-align: center;
}

a:link {
  text-decoration: none;
  color:white;
  font-weight:bold;
}

a:visited {
  text-decoration: none;
  color:white;
  font-weight:bold;
}

a:hover {
  text-decoration: underline;
  color:white;
  font-weight:bold;
}

a:active {
  text-decoration: underline;
  color:white;
  font-weight:bold;
}
